@import 'tailwindcss';

@theme {
    --color-abismo: #0c0c0e;
    --color-carbón: #131315;
    --color-plomo: #1e1e22;
    --color-zinc: #2e2e34;
    --color-humo: #6b6b78;
    --color-niebla: #a8a8b8;
    --color-arena: #d4cfc5;
    --color-crema: #ede9e0;

    --color-rojo: #b84030;
    --color-ambar: #c49030;
    --color-verde: #3a8068;
    --color-acero: #4a6882;

    --font-bungee: var(--font-bungee);
    --font-work: var(--font-work);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-work);
    background-color: var(--color-abismo);
    color: var(--color-crema);
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #2e2e34;
    border-radius: 2px;
}

.ticket-divider {
    height: 1px;
    background: repeating-linear-gradient(to right,
            transparent 0,
            transparent 6px,
            rgba(237, 233, 224, 0.08) 6px,
            rgba(237, 233, 224, 0.08) 12px);
}